body{
background-image: url(img/carretera.jpg);
 background-size: 3000px;
 background-repeat: no-repeat;
 margin:0px;
 padding: 0px;
 
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

#semaforo{
margin:0 auto;
background-color:#95A5A6;
width: 200px;
height: 400px;
border-radius:25px;

}

#semaforopalo{
    margin:0 auto;
    background-color:#424949;
    width: 24px;
    height: 355px;
}

#luzroja{
margin:0 auto;
height:105px;
width: 105px;
background-color: #FDFEFE;
border-radius: 100%;
margin-bottom: 25px ;
}

#luzamarilla{
    margin:0 auto;
    height: 105px;
    width: 105px;
    background-color: #FDFEFE;
    border-radius: 100%; 
    margin-bottom: 25px; 
}

#luzverde{
    margin:0 auto;
    height: 105px;
    width: 105px;
    background-color:#FDFEFE ;
    border-radius: 100%; 
    margin-bottom: 25px;  
}

@media only screen and (max-width:650px) {
    #luzroja{
        background-color: red;   
    }    
}

@media only screen and (min-width:651px) and (max-width:1000px) {
    #luzamarilla{
        background-color: yellow;
    }
}

@media only screen and (min-width:1001px) {
    #luzverde{
        background-color: green;
    }
}
    